.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(228, 228, 228, 0.466);
  padding: 3rem;
}

th{
  padding: 1rem;
  border: 1px solid rgba(156, 156, 156, 0.473);
}

td {
  padding: 1rem;
  border: 1px solid rgba(156, 156, 156, 0.568);
  background-color:rgba(184, 211, 247, 0.5);
}

.inputSubmit{
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

input{
  border: 1px solid rgba(194, 194, 194, 0.438);
  padding: .5rem;
  border-radius: 0.25rem;
}

button{
  border: 1px solid rgba(194, 194, 194, 0.438);
  padding: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.25rem;
  font-family: Montserrat;
  font-weight: 500;
}

